[user]
	name = varconst
	email = varconsteq@gmail.com
[core]
  excludesfile = /home/vk/.gitignore
    ; @TODO: make vimpager work
    pager = less
[diff]
	tool = gvimdiff
[merge]
	tool = gvimdiff
  conflictstyle = merge
  prompt = false
[difftool]
	tool = gvimdiff
	prompt = false
[alias]
  ci = commit --verbose
  diff = diff --word-diff
  dc = diff --cached
  dt = difftool --word-diff
  st = status -s
  co = checkout
  tree = log --all --graph --decorate --pretty=oneline --abbrev-commit
[include]
  path = ~/work-dotfiles/git/.gitconfig
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	cookiefile = /Users/varconst/.gitcookies
[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
