[user]
	name = vconst
	email = varconsteq@gmail.com
[core]
	excludesfile = /home/vk/.gitignore
    ; @TODO: make vimpager work
    pager = less
[diff]
	tool = gvimdiff
[merge]
	tool = gvimdiff
  conflictstyle = diff3
  prompt = false
[difftool]
	prompt = false
[alias]
  ci = commit --verbose
  diff = diff --word-diff
  dc = diff --cached
  dt = difftool --word-diff
  st = status -s
  co = checkout
  tree = log --all --graph --decorate --pretty=oneline --abbrev-commit
[include]
  path = ~/work-dotfiles/git/.gitconfig
[color]
	ui = auto
