[user]
	name = vconst
	email = varconsteq@gmail.com
[core]
	excludesfile = /home/vk/.gitignore
    ; @TODO: make vimpager work
    pager = less
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
    ci = commit --verbose
    diff = diff --word-diff
    dc = diff --cached
    dt = difftool --word-diff
    st = status -s
    co = checkout
